<div class="content" role="main">
        <h2>I know this is basic but it's Eco design*</h2>
        <p style="padding-bottom:50px">click here to go to pages with information --></p>
        <p style="padding-bottom:5px">I guess I should introduce myself. </p>
        <p style="padding-bottom:5px">Name: Darren  Job: Software developer From: UK (Scotsman in London) </p>
        <p style="padding-bottom:100px"> That will do for here, click on the menu page to see links and more intresting things</p>
        <p>This is created in angular, which is pretty bloated and not eco friendly. but hey its eco designed and its the thought that counts. It will be moved to a better framework when I get the time. </p>
      </div>